*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    padding-top: 10%;
    padding-left: 20%;
}

.container{
    height: 50vh;
    width: 50vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.triangle{
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-bottom: 60px solid yellow;
    border-left: 60px solid transparent;
    position: absolute;
    cursor: move;
}
.circle{
    width: 0;
    height: 0;
    border:60px solid yellow;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 30%;
}

  